<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.myapp">
	<update id="updatePractice" parameterType="com.mycompany.vo.Practiceroom">
		Update practice_room set
		no=no
		<if test="information !='' and information !=null">
			,information=#{information}
		</if>
		<if test="program !='' and program !=null">
			,program=#{program}
		</if>
		<if test="img1_org !='' and img1_org !=null">
			,img1_org=#{img1_org} , img1_fake=#{img1_fake}
		</if>
		<if test="img2_org !='' and img2_org !=null">
			,img2_org=#{img2_org} , img2_fake=#{img2_fake}
		</if>
		<if test="img3_org !='' and img3_org !=null">
			,img3_org=#{img3_org} , img3_fake=#{img3_fake}
		</if>
		<if test="img4_org !='' and img4_org !=null">
			,img4_org=#{img4_org} , img4_fake=#{img4_fake}
		</if>
		where no=#{no}
	</update>

	<select id="selectPractice" parameterType="com.mycompany.vo.Practiceroom"
		resultType="com.mycompany.vo.Practiceroom">
		Select * from practice_room where no=#{no}
	</select>

</mapper>